.VideoPreview {
    position: relative;
    overflow: hidden;

    & > video {
        width: 100%    !important;
        height: auto   !important;
    }

    & .VideoPreview_Region {
        position: absolute;
        box-sizing: border-box;

        &:hover {
            border: 1px solid black;
        }
    }
}